
# Environment
.env
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# dbt
.dbt/
logs/
target/


data/

# IDE files
.idea/
.vscode/

data/ # Optionally ignore data if it's too large for git
*.db

